body {
    background: #282a36;
    color: #f8f8f2;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    border-left: 1px solid #44475a;
    border-right: 1px solid #44475a;
}

a {
    color: #bd93f9;
}

h1, h2, h3, h4, h5, h6 {
    color: #bd93f9;
}

strong {
    color: #ffb86c;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table + table {
    margin-top: 1em;
}

table caption {
    font-size: 1rem;
    font-weight: bold;
    color: #bd93f9;
    text-align: left;
}

table td, table th {
    border: 1px solid #44475a;
    padding: 5px;
}

tr:nth-child(even) {
    background: #2f3240;
}

h1 { font-size: 2.125rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

dt {
    color: #ffb86c;
}

span.constraint {
    font-style: italic;
}

span.constraint::before {
    content: "(";
    font-style: italic;
}

span.constraint::after {
    content: ")";
    font-style: italic;
}

#project {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1em;
  align-items: baseline;
}

#project > dt {
  font-weight: bold;
  text-align: right;
}

#project > dd {
  margin: 0;
}

#project > dd > p {
  margin: 0;
}

#project-version > p {
  font-family: monospace;
}

span.spell-level::before {
    content: "Level ";
}

span.spell-classes::before {
    content: "("
}

span.spell-classes::after {
    content: ")"
}

nav ol {
    list-style: none;
    padding: 0 0 0 0.25em;
}

nav li {
    list-style: none;
    padding: 0 0 0 0.75em;
}

span.page {
    font-style: italic;
    color: gray;
    font-size: 0.75em;
}

span.page::before {
    content: "(";
}

span.page::after {
    content: ")";
}
